.main_name{
    margin-left: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    width: 600px;
    letter-spacing: 1px;
}

.main_name_banner{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 30px;
    width: 1550px;
    height: 120px;
    padding-top: 90px;
    padding-bottom: 15px;
    background-image: url("https://www.meme-arsenal.com/memes/d065a12ca62f5b8052f2ae58a501fe61.jpg");
    background-position: bottom;
}

.sub-menus{
    margin-left: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 500px;
    font-size: 30px;
    padding-left: 150px;
}

.body{
    margin-left: 1300px;
    margin-right: 152px;
    border: black 2px solid;
    height: 450px;
    margin-top: -440px;
    background-image: url("resources/pictures/selfie.jpg");
    background-size: contain;
    width: 400px;
}

.body-p{
    margin-left: 750px;
    margin-right: 152px;
    height: 450px;
    margin-top: -100px;
    width: 400px;
    border: white 2px solid;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-info{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 900px;
    height: 150px;
    margin-top: -170px;
    color: white;
    font-size: 25px;
    width: 690px;
}

.link:link, .link:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.bg{
    background-position: center;
    background-size: cover;
    background-image: url("https://www.meme-arsenal.com/memes/d065a12ca62f5b8052f2ae58a501fe61.jpg");
}

.resume-pdf{
    margin-left: 790px;
    margin-top: -80px;
}

.vl-projects {
    border-left: 2px solid black;
    height: 2300px;
    position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 0;
    margin-top: 260px;
}

.vl-home {
    border-left: 2px solid black;
    height: 700px;
    position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 0;
    margin-top: 260px;
}

.vl-resume {
    border-left: 2px solid black;
    height: 950px;
    position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 0;
    margin-top: 260px;
}

.project-list{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 680px;
    margin-top: -75px;
    margin-right: 100px;
}

.navigator{
    margin-left: 570px;
    margin-top: -70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* border: black 2px solid;
border display position top/bottom/left/right */
